.background {
	background-color: #7F8C8D;
}

.main {
	width: 80%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

.top {
	background-color: #2ECC71;
}

.nav-bar {
	background-color: #34495E;
}